/*********
* Colors *
**********/

@primary: #404040;
@secondary: #354F52;
@tertiary: #ff6600;

@black: #000000;
@white: #FFFFFF;

@lightest-grey: #F9F9F9;
@light-grey: #e3e3e3;
@grey: #e5e5e5;
@dark-grey:#999999;

@body: #333333;

/*******************
* Fonts and Sizing *
********************/

@primary-font: "Roboto", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
@secondary-font: "Inconsolata", "Helvetica", "Arial", sans-serif;

h1 {
  font-size: 2.2em;
  color: @white !important;
  font-family: @secondary-font
}

h4 {
  font-size: 1.3em;
}

body {
  font-family: @primary-font;
  color: @body;
  background-color: #212121;
}

/********
* Block *
*********/
.wrapper {
  display: inline-block;
  margin: 20px;
}

.block {
  background-color: @white;
  display: inline-block;
  margin: 15px;
  padding: 15px;
  top: 0;
  float: left;
  min-height: 215px;
  position: relative;
  overflow: hidden;
  border: 1px solid @grey;
  
  
  .block--score {
    width: 15%;
    float: left;
    text-align: center;
    color: @tertiary;
    .block--triangle {    
      display: inline-block;
      width: 5px;
      height: 10px;
      border-radius: 3px;
      border-bottom: solid 15px @tertiary;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }
    .block--num {
      margin: 5px;
    }
  }

  .block--title {
    margin-bottom: -3px;
    a {
      color: @secondary;
      &:hover {
        text-decoration: none;
        color: @tertiary;
      }
    }
  }
  
  .block--content {
    width: 80%;
    float: right;
    margin: 0;
    padding: 0;

    .block--author {
      font-size: 12px;
      color: @primary;
    }

    .block--text {
      margin: 10px 0;
      font-size: 12px;
      max-height: 95px;
      overflow: hidden;
      &.expand {
        max-height: 100%;
      }
    }

    .block--link {
      margin: 10px 5px;
      font-size: 12px; 
      position: absolute;
      bottom: 0;
      right: 0; 
      a {
        color: @tertiary;
        &:hover {
          text-decoration: none;
          color: @secondary;
        }
      }   
    }
  }

  &.block--view-more {
    background-color: @tertiary;
    text-align: center;
    border: none;
    color: @white;
    font-family: @secondary-font;
    h2 {
      margin-top: 35%;
    }
    &:hover {
      background-color: @white;
      color: @tertiary;
      cursor: pointer;
    }
  }
}

/*********
* Header *
**********/
.header {
  background-color: @primary;
  padding: 20px;
  h1 {
    display: inline-block;
  }
  .header--logo {
    border-radius: 2px;
    display: inline-block;
    color: @white;
    background-color: @tertiary;
    padding: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    margin-right: 15px;
  }

}

/************
* Contain *
*************/
.contain {
  text-align: center;
  
  .contain--alert {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
  }
}

/*************
* Animations *
**************/

// Center - out
.animation-1(@hover-color, @hover-background){
	&:hover {
		cursor: pointer;
		color: @hover-color;
		background-color: @hover-background;
		&:after {
			width: 100%;
			left: 0;
		}
	}
}

// Left - right
.animation-2(@hover-color, @hover-background){
	&:hover {
		cursor: pointer;
		color: @hover-color;
		background-color: @hover-background;
		&:after {
			width: 100%;
			left: 0;
		}
	}
	&:after {
		left: 0;
	}
}

// Left - right, stays
.animation-3(@hover-color, @hover-background){
	&:hover {
		cursor: pointer;
		color: @hover-color;
		background-color: @hover-background;
		&:after {
			width: 100%;
			left: 0;
		}
	}
	&:after {
		right: 0;
    left: auto;
	}
}

// Up - down, shiny
.animation-4(@hover-color, @hover-background){
	&:hover {
		cursor: pointer;
		color: @hover-color;
		background-color: @hover-background;
		&:after {
			width: 100%;
			left: 0;
			top: calc(100% - 3px);
		}
	}
	&:after {
		left: 0;
    bottom: auto;
    top: -3px;
    width: 100%;
	}
}

// Basic transition
.animation-5(@hover-color, @hover-background){
	&:hover {
		cursor: pointer;
		color: @hover-color;
		background-color: @hover-background;
		&:after {
			left: -10%;
      width: 120%;
		}
	}
	&:after {
		left: 0;
    bottom: auto;
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
	}
}

.transition(@speed, @easing) {
  -webkit-transition: all @speed @easing;
  transition: all @speed @easing;
}

/**********
* Buttons *
***********/
.button {
	color: @white;
	background-color: @tertiary;
	border: 1px solid @tertiary;
	border-radius: 2px;
	font-size: 0.85em;
	-webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px 10px 10px 0;
  padding: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;	
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
	.animation-4(@secondary, @white);
}